@page "/"
@using DartPointTracker.Models
@using DartPointTracker.Services
@using DartPointTracker.Components
@inject IGameService GameService
@inject IPlayerService PlayerService
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="mb-3 text-center">
                GAME MODE
            </div>
            <div class="mb-3 d-flex justify-content-center game-mode-container">
                @foreach (var gamePoints in GameSettings.GamePoints)
                {
                    <button class="item @(gamePoints == _gamePoints ? "purple-form" : "")" @onclick="() => SelectGameMode(gamePoints)">@gamePoints</button>
                }
            </div>

            <div class="mb-3 text-center">
                PLAYERS
            </div>

            <div class="mb-3">

                <div class="player-list">
                    @foreach (var player in _playersInGame)
                    {
                        <div class="player-container">
                            <span class="bi bi-person"></span>
                            <span class="player-name">@player.Name</span>
                            <div class="trash btn-grey">
                                <span class="bi bi-trash"></span>
                            </div>
                        </div>
                    }

                </div>


                <div class="col-auto">
                    <button class="btn purple-form" @onclick="() => ChoosePlayerModal.Open()">
                        <span class="bi bi-person-plus"></span>
                        Add Players
                    </button>
                    <button class="btn btn-light-purple" @onclick="() => CreateNewPlayerModal.Open()">
                        <span class="bi bi-person-plus"></span>
                        Create New Player
                    </button>
                </div>

            </div>
            <button class="btn start mt-2" @onclick="StartGame" disabled="@(_playersInGame.Count == 0)">
                <span class="bi bi-play"></span>
                Start Game
            </button>
        </div>
    </div>
</div>


<ChoosePlayer @ref="ChoosePlayerModal" Players="PlayerService.Players" PlayersInGame="_playersInGame" Parent="@this"></ChoosePlayer>
<CreateNewPlayer @ref="CreateNewPlayerModal" PlayerService="PlayerService"></CreateNewPlayer>


@code {
    private ChoosePlayer ChoosePlayerModal { get; set; }
    private CreateNewPlayer CreateNewPlayerModal { get; set; }
    private int _gamePoints = 301;
    private readonly List<Player> _playersInGame = [];

    protected override async Task OnInitializedAsync()
    {
        await PlayerService.GetPlayers();
    }

    public void RefreshState()
    {
        StateHasChanged();
    }

    private void SelectGameMode(int gamePoints)
    {
        _gamePoints = gamePoints;
    }

    async Task StartGame()
    {
        await GameService.InitializeGame(_playersInGame, _gamePoints);
        _playersInGame.Clear();
        NavigationManager.NavigateTo("/game");
    }

}